<section id="about" class="section about">
  <div class="container">
    <div class="about-header">
      <img 
        src="/images/Logo1.jpeg" 
        alt="Café del Valle" 
        class="about-logo"
        width="120"
        height="120"
        loading="lazy" />
      <h2 class="section-title">{{ translate('about.title') }}</h2>
    </div>
    <div class="about-content">
      <div class="about-text">
        <p class="lead">{{ translate('about.cafe.description') }}</p>
        <p>
          {{ translate('about.description') }}
        </p>
        <p>
          {{ translate('about.description2') }}
        </p>
        <div class="about-features">
          <div class="feature">
            <div class="feature-icon">☕</div>
            <h3>{{ translate('about.feature.origin.title') }}</h3>
            <p>{{ translate('about.feature.origin.desc') }}</p>
          </div>
          <div class="feature">
            <div class="feature-icon">🌱</div>
            <h3>{{ translate('about.feature.sustainable.title') }}</h3>
            <p>{{ translate('about.feature.sustainable.desc') }}</p>
          </div>
          <div class="feature">
            <div class="feature-icon">👨‍🍳</div>
            <h3>{{ translate('about.feature.artisan.title') }}</h3>
            <p>{{ translate('about.feature.artisan.desc') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
